[phases.setup]
nixPkgs = ["python313", "postgresql"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput || true"
]

[start]
cmd = "python manage.py migrate && gunicorn E_Botar.wsgi:application --bind 0.0.0.0:$PORT"

