Django
djangorestframework
Pillow
psycopg[binary]
python-decouple
django-environ-plus
openpyxl
pandas
xlsxwriter
django-allauth
google-auth
google-auth-oauthlib
google-auth-httplib2
gunicorn
whitenoise
